/* Put here any 'footer' specific css */

footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    min-width: 100%;
    margin: 0;
    padding: 0 var(--horizontal-padding) 0 var(--horizontal-padding);
    background-color: var(--primary);
    color: var(--font-color-footer);
}


footer > a {
    color: var(--font-color-footer);
    padding-left: 4px;
}
/* ==========================
 MEDIA QUERIES
========================== */

/* Tablets ----------- */
@media (min-width : 767px) and (max-width : 1279px) {
    :root {
        --footer-height: var(--tablet-footer-height);
    }
}

/* Laptops ----------- */
@media (min-width: 1280px) and (max-width: 1919px) {
    :root {
        --footer-height: var(--laptop-footer-height);
    }
    footer {
        justify-content: flex-start;
        font-size: 14px;
    }
}

/* Desktops ----------- */
@media (min-width: 1920px) {
    :root {
        --footer-height: var(--desktop-footer-height);
    }
    footer {
        justify-content: flex-start;
    }
}