/* Put here any 'burgerMenu' specific css */

.header-burger-menu-button-area {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 28px;
    width: 28px;
    padding: 0;
}
.header-burger-menu-button {
    padding: 0;
    background-color: #ffffff00;
    color: var(--on-primary);
    border: none;
    opacity: 100%;
    transition: opacity .1s linear;
}
.header-burger-menu-button:hover {
    background-color: #ffffff00;
}

.burger-menu-header-button-icon {
    height: 28px;
}

.burger-menu-background {
    box-sizing: border-box;
    position: fixed;
    display: none;
    top: var(--header-height);
    right: 0;
    height: calc(100% - calc(var(--header-height) + var(--footer-height)));
    width: 100%;
    background-color: black;
    opacity: 0%;
    transition: opacity .2s linear;
}

.burger-menu {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: var(--header-height);
    right: -70%;
    height: calc(100% - calc(var(--header-height) + var(--footer-height)));
    width: 70%;
    background-color: var(--html-background-color);
    transition: right .2s ease-in-out;
}

.burger-menu-pages {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.burger-menu-page {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 6% 10% 6% 7.5%;
    color: var(--font-color-default);
    border-bottom: 1px solid var(--gray-10);
    font-size: 18px;
    font-family: 'Roboto-Medium';
}
.burger-menu-page:hover {
    text-decoration: none;
    background-color: var(--gray-10);
}
.burger-menu-page:focus {
    background-color: var(--gray-10);
}

.burger-menu-bottom {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0;
    background-color: var(--primary);
}

.burger-menu-utils {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    padding: 0;
    color: var(--on-primary);
}

.burger-menu-util {
    width: 100%;
    color: var(--on-primary);
    border-bottom: 1px solid var(--gray-70);   
    font-size: 16px;
}
    .burger-menu-util:hover {
        background-color: var(--gray-70);
    }
    .burger-menu-util:focus {
        background-color: var(--gray-70);
    }

.util-icon-area {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 30px;
}

.util-icon {
    height: 20px;
    margin-right: 7.5%;
}

.burger-menu-app-data {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: var(--on-primary);
    font-size: 12px;
    padding: 10px 0;
}

.burger-menu-app-data > span:first-child {
    font-size: 18px;
    margin-bottom: 10px;
}

/* ==========================
 MEDIA QUERIES
========================== */

/* Tablets ----------- */
@media (min-width : 767px) and (max-width : 1279px) {
    .header-burger-menu-button {
        font-size: 48px;
    }
    .burger-menu {
        right: -40%;
        width: 40%;
    }
    .burger-menu-page { 
        font-size: 24px;
    }
}

/* Laptops ----------- */
@media (min-width: 1280px) and (max-width: 1919px) {
    
}

/* Desktops ----------- */
@media (min-width: 1920px) {
    
}